/.vscode

/КМС
/ПСКП/lab1/lab1-1/node_modules
/ПСКП/lab1/lab1-2/node_modules
/ПСКП/lab2/node_modules
/ПСКП/lab3/node_modules
/ПСКП/lab4/node_modules
/ПСКП/lab5/node_modules
/ПСКП/lab6/node_modules
/ПСКП/lab7/node_modules
/ПСКП/lab8/node_modules
/ПСКП/lab9/node_modules
/ПСКП/lab10/node_modules
/ПСКП/lab11/node_modules
/ПСКП/lab12/node_modules

/ТПвИ/lab2/node_modules
/ТПвИ/lab3/node_modules
/ТПвИ/lab4/node_modules
/ТПвИ/lab5/node_modules
/ТПвИ/lab6/node_modules
/ТПвИ/lab7/node_modules
/ТПвИ/lab8/node_modules